<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>model_mainplane_0002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,157},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>model_mainplane_0002_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{149,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,97}}</string>
                <key>sourceSize</key>
                <string>{149,97}</string>
            </dict>
            <key>model_mainplane_0002_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,374},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>model_mainplane_0002_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{66,174}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{66,174}}</string>
                <key>sourceSize</key>
                <string>{72,178}</string>
            </dict>
            <key>model_mainplane_0002_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{81,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,114}}</string>
                <key>sourceSize</key>
                <string>{81,114}</string>
            </dict>
            <key>model_mainplane_0002_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,213},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>model_mainplane_0002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,157},{50,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,67}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>model_mainplane_0002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,368},{33,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,79}}</string>
                <key>sourceSize</key>
                <string>{33,79}</string>
            </dict>
            <key>model_mainplane_0002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,368},{79,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,31}}</string>
                <key>sourceSize</key>
                <string>{79,31}</string>
            </dict>
            <key>model_mainplane_0002_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,467},{73,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,41}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>model_mainplane_0002_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{174,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,153}}</string>
                <key>sourceSize</key>
                <string>{178,153}</string>
            </dict>
            <key>model_mainplane_0002_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,101},{62,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,139}}</string>
                <key>sourceSize</key>
                <string>{62,139}</string>
            </dict>
            <key>model_mainplane_0002_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>model_mainplane_0002_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,213},{159,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,101}}</string>
                <key>sourceSize</key>
                <string>{159,101}</string>
            </dict>
            <key>model_mainplane_0002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,157},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>model_mainplane_0002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,325},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>model_mainplane_0002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,318},{37,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,66}}</string>
                <key>sourceSize</key>
                <string>{37,66}</string>
            </dict>
            <key>model_mainplane_0002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,325},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>model_mainplane_0002_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,374},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>model_mainplane_0002_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,157},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{94,31}</string>
            </dict>
            <key>model_mainplane_0002_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,153}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,153}}</string>
                <key>sourceSize</key>
                <string>{179,153}</string>
            </dict>
            <key>model_mainplane_0002_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,287},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>model_mainplane_0002_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,213},{42,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,110}}</string>
                <key>sourceSize</key>
                <string>{42,110}</string>
            </dict>
            <key>model_mainplane_0002_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,165},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>model_mainplane_0002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,466},{9,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,37}}</string>
                <key>sourceSize</key>
                <string>{9,37}</string>
            </dict>
            <key>model_mainplane_0002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,213},{40,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,69}}</string>
                <key>sourceSize</key>
                <string>{40,69}</string>
            </dict>
            <key>model_mainplane_0002_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,190},{7,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,17}}</string>
                <key>sourceSize</key>
                <string>{7,17}</string>
            </dict>
            <key>model_mainplane_0002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,449},{17,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,59}}</string>
                <key>sourceSize</key>
                <string>{17,59}</string>
            </dict>
            <key>model_mainplane_0002_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,101},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>model_mainplane_0002_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,157},{54,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,12}}</string>
                <key>sourceSize</key>
                <string>{54,12}</string>
            </dict>
            <key>model_mainplane_0002_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,449},{15,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,56}}</string>
                <key>sourceSize</key>
                <string>{15,56}</string>
            </dict>
            <key>model_mainplane_0002_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,190},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df5d74a015f238ba46f197a5d02e6a8$</string>
            <key>textureFileName</key>
            <string>plane2.png</string>
        </dict>
    </dict>
</plist>
