<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>model_mainplane_0000_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,99},{123,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,199}}</string>
                <key>sourceSize</key>
                <string>{123,199}</string>
            </dict>
            <key>model_mainplane_0000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,263},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>model_mainplane_0000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,99},{19,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,75}}</string>
                <key>sourceSize</key>
                <string>{19,75}</string>
            </dict>
            <key>model_mainplane_0000_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,453},{34,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,85}}</string>
                <key>sourceSize</key>
                <string>{34,85}</string>
            </dict>
            <key>model_mainplane_0000_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,355},{96,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>model_mainplane_0000_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,306},{89,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,163}}</string>
                <key>sourceSize</key>
                <string>{89,163}</string>
            </dict>
            <key>model_mainplane_0000_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,314},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>model_mainplane_0000_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{40,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,103}}</string>
                <key>sourceSize</key>
                <string>{40,103}</string>
            </dict>
            <key>model_mainplane_0000_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,208},{29,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,53}}</string>
                <key>sourceSize</key>
                <string>{29,53}</string>
            </dict>
            <key>model_mainplane_0000_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,489},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>model_mainplane_0000_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,128},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>model_mainplane_0000_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{17,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,108}}</string>
                <key>sourceSize</key>
                <string>{17,108}</string>
            </dict>
            <key>model_mainplane_0000_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,306},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>model_mainplane_0000_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{54,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{54,93}</string>
            </dict>
            <key>model_mainplane_0000_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,483},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>model_mainplane_0000_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,97},{29,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,53}}</string>
                <key>sourceSize</key>
                <string>{29,53}</string>
            </dict>
            <key>model_mainplane_0000_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{145,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,195}}</string>
                <key>sourceSize</key>
                <string>{145,195}</string>
            </dict>
            <key>model_mainplane_0000_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,446},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>model_mainplane_0000_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,458},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>model_mainplane_0000_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,489},{19,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,49}}</string>
                <key>sourceSize</key>
                <string>{19,49}</string>
            </dict>
            <key>model_mainplane_0000_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,99},{123,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,199}}</string>
                <key>sourceSize</key>
                <string>{123,199}</string>
            </dict>
            <key>model_mainplane_0000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,508},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>model_mainplane_0000_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,204}}</string>
                <key>sourceSize</key>
                <string>{227,204}</string>
            </dict>
            <key>model_mainplane_0000_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,432},{104,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,147}}</string>
                <key>sourceSize</key>
                <string>{104,147}</string>
            </dict>
            <key>model_mainplane_0000_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,224},{194,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,80}}</string>
                <key>sourceSize</key>
                <string>{194,80}</string>
            </dict>
            <key>model_mainplane_0000_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,344},{100,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,114}</string>
            </dict>
            <key>model_mainplane_0000_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{95,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,222}}</string>
                <key>sourceSize</key>
                <string>{95,222}</string>
            </dict>
            <key>model_mainplane_0000_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,397},{33,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,148}}</string>
                <key>sourceSize</key>
                <string>{33,148}</string>
            </dict>
            <key>model_mainplane_0000_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,446},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>model_wingplane_0000_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{40,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,122}}</string>
                <key>sourceSize</key>
                <string>{40,122}</string>
            </dict>
            <key>model_wingplane_0000_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,329},{13,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,67}}</string>
                <key>sourceSize</key>
                <string>{13,67}</string>
            </dict>
            <key>model_wingplane_0000_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{41,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,61}}</string>
                <key>sourceSize</key>
                <string>{41,61}</string>
            </dict>
            <key>model_wingplane_0000_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,397},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>model_wingplane_0000_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,397},{13,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,39}}</string>
                <key>sourceSize</key>
                <string>{13,39}</string>
            </dict>
            <key>model_wingplane_0000_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,222},{6,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,25}}</string>
                <key>sourceSize</key>
                <string>{6,25}</string>
            </dict>
            <key>model_wingplane_0000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{40,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,122}}</string>
                <key>sourceSize</key>
                <string>{40,122}</string>
            </dict>
            <key>model_wingplane_0000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,136},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
            <key>model_wingplane_0000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,128},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>model_wingplane_0000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,176},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>model_wingplane_0000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>model_wingplane_0000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,351},{27,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,93}}</string>
                <key>sourceSize</key>
                <string>{27,93}</string>
            </dict>
            <key>model_wingplane_0000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,222},{70,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,105}}</string>
                <key>sourceSize</key>
                <string>{70,105}</string>
            </dict>
            <key>model_wingplane_0000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,143},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adcf118f4538a0242cbe0916ca4d421a$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
