<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,784},{207,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,432}}</string>
                <key>sourceSize</key>
                <string>{207,432}</string>
            </dict>
            <key>base_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{238,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,297}}</string>
                <key>sourceSize</key>
                <string>{238,297}</string>
            </dict>
            <key>base_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,749},{120,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,59}}</string>
                <key>sourceSize</key>
                <string>{120,59}</string>
            </dict>
            <key>base_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,597},{529,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,150}}</string>
                <key>sourceSize</key>
                <string>{529,150}</string>
            </dict>
            <key>base_frame_bottom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{720,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,402}}</string>
                <key>sourceSize</key>
                <string>{720,402}</string>
            </dict>
            <key>base_frame_btn_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{730,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,231}}</string>
                <key>sourceSize</key>
                <string>{730,231}</string>
            </dict>
            <key>base_frame_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,774}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,774}}</string>
                <key>sourceSize</key>
                <string>{25,774}</string>
            </dict>
            <key>base_frame_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{144,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,2}}</string>
                <key>sourceSize</key>
                <string>{144,2}</string>
            </dict>
            <key>base_frame_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{22,774}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,774}}</string>
                <key>sourceSize</key>
                <string>{22,774}</string>
            </dict>
            <key>base_frame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,406},{720,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,189}}</string>
                <key>sourceSize</key>
                <string>{720,189}</string>
            </dict>
            <key>frame_item_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,871},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>frame_wing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,597},{185,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,193}}</string>
                <key>sourceSize</key>
                <string>{185,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseframeui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae820bf18cc4d73f846be3426052a719$</string>
            <key>textureFileName</key>
            <string>baseframeui.png</string>
        </dict>
    </dict>
</plist>
