<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,532},{29,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{29,74}</string>
            </dict>
            <key>bullet_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{556,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,457}}</string>
                <key>sourceSize</key>
                <string>{556,457}</string>
            </dict>
            <key>bullet_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,401},{34,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,296}}</string>
                <key>sourceSize</key>
                <string>{34,296}</string>
            </dict>
            <key>bullet_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1095},{63,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,106}}</string>
                <key>sourceSize</key>
                <string>{63,106}</string>
            </dict>
            <key>bullet_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1153},{259,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,184}}</string>
                <key>sourceSize</key>
                <string>{259,184}</string>
            </dict>
            <key>bullet_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1176},{63,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,171}}</string>
                <key>sourceSize</key>
                <string>{63,171}</string>
            </dict>
            <key>bullet_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,686},{60,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,106}}</string>
                <key>sourceSize</key>
                <string>{60,106}</string>
            </dict>
            <key>bullet_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1245},{259,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,184}}</string>
                <key>sourceSize</key>
                <string>{259,184}</string>
            </dict>
            <key>bullet_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,73},{34,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,326}}</string>
                <key>sourceSize</key>
                <string>{34,326}</string>
            </dict>
            <key>bullet_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{55,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,296}}</string>
                <key>sourceSize</key>
                <string>{55,296}</string>
            </dict>
            <key>bullet_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1014},{57,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,160}}</string>
                <key>sourceSize</key>
                <string>{57,160}</string>
            </dict>
            <key>bullet_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,863},{16,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,86}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>bullet_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,563},{22,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,128}}</string>
                <key>sourceSize</key>
                <string>{22,128}</string>
            </dict>
            <key>bullet_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1294},{40,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,234}}</string>
                <key>sourceSize</key>
                <string>{40,234}</string>
            </dict>
            <key>bullet_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,616},{193,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,363}}</string>
                <key>sourceSize</key>
                <string>{193,363}</string>
            </dict>
            <key>bullet_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,747},{139,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,239}}</string>
                <key>sourceSize</key>
                <string>{139,239}</string>
            </dict>
            <key>bullet_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1125},{35,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,137}}</string>
                <key>sourceSize</key>
                <string>{35,137}</string>
            </dict>
            <key>bullet_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1336},{51,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,233}}</string>
                <key>sourceSize</key>
                <string>{51,233}</string>
            </dict>
            <key>bullet_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,421},{193,365}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,365}}</string>
                <key>sourceSize</key>
                <string>{195,365}</string>
            </dict>
            <key>bullet_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,717},{28,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,145}}</string>
                <key>sourceSize</key>
                <string>{28,145}</string>
            </dict>
            <key>bullet_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1325},{28,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,230}}</string>
                <key>sourceSize</key>
                <string>{28,230}</string>
            </dict>
            <key>bullet_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1264},{28,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,238}}</string>
                <key>sourceSize</key>
                <string>{28,238}</string>
            </dict>
            <key>bullet_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,794},{57,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,218}}</string>
                <key>sourceSize</key>
                <string>{57,218}</string>
            </dict>
            <key>bullet_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{87,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,326}}</string>
                <key>sourceSize</key>
                <string>{87,326}</string>
            </dict>
            <key>bullet_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1155},{88,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,287}}</string>
                <key>sourceSize</key>
                <string>{88,287}</string>
            </dict>
            <key>bullet_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,811},{40,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,290}}</string>
                <key>sourceSize</key>
                <string>{40,290}</string>
            </dict>
            <key>bullet_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{183,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,473}}</string>
                <key>sourceSize</key>
                <string>{183,473}</string>
            </dict>
            <key>bullet_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,863},{288,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,318}}</string>
                <key>sourceSize</key>
                <string>{288,318}</string>
            </dict>
            <key>bullet_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1419},{202,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,204}}</string>
                <key>sourceSize</key>
                <string>{202,204}</string>
            </dict>
            <key>bullet_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,811},{50,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,330}}</string>
                <key>sourceSize</key>
                <string>{50,330}</string>
            </dict>
            <key>bullet_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{128,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,402}}</string>
                <key>sourceSize</key>
                <string>{128,402}</string>
            </dict>
            <key>bullet_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{290,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,321}}</string>
                <key>sourceSize</key>
                <string>{290,321}</string>
            </dict>
            <key>bullet_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1389},{204,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>bullet_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1419},{22,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,175}}</string>
                <key>sourceSize</key>
                <string>{22,175}</string>
            </dict>
            <key>bullet_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1557},{22,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,175}}</string>
                <key>sourceSize</key>
                <string>{22,175}</string>
            </dict>
            <key>bullet_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1452},{22,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,175}}</string>
                <key>sourceSize</key>
                <string>{22,175}</string>
            </dict>
            <key>bullet_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1389},{22,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,175}}</string>
                <key>sourceSize</key>
                <string>{22,175}</string>
            </dict>
            <key>bullet_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1275},{22,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,175}}</string>
                <key>sourceSize</key>
                <string>{22,175}</string>
            </dict>
            <key>bullet_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1098},{22,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,175}}</string>
                <key>sourceSize</key>
                <string>{22,175}</string>
            </dict>
            <key>bullet_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{22,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,175}}</string>
                <key>sourceSize</key>
                <string>{22,175}</string>
            </dict>
            <key>bullet_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1766},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1818},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1780},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1742},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1368},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,331},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,293},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,255},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,217},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,179},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bullet_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1153},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>bullet_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1431},{195,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,256}}</string>
                <key>sourceSize</key>
                <string>{195,256}</string>
            </dict>
            <key>bullet_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,369},{46,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,315}}</string>
                <key>sourceSize</key>
                <string>{46,315}</string>
            </dict>
            <key>bullet_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,342},{77,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,377}}</string>
                <key>sourceSize</key>
                <string>{77,377}</string>
            </dict>
            <key>bullet_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1623},{200,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,202}}</string>
                <key>sourceSize</key>
                <string>{200,202}</string>
            </dict>
            <key>bullet_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1160},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>bullet_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1339},{223,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,226}}</string>
                <key>sourceSize</key>
                <string>{223,226}</string>
            </dict>
            <key>bullet_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,988},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,137}}</string>
                <key>sourceSize</key>
                <string>{135,137}</string>
            </dict>
            <key>bullet_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1368},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>bullet_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1368},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>bullet_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1339},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>bullet_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1203},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>bullet_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1162},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>bullet_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1286},{56,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,123}}</string>
                <key>sourceSize</key>
                <string>{56,123}</string>
            </dict>
            <key>bullet_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1228},{56,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,123}}</string>
                <key>sourceSize</key>
                <string>{56,123}</string>
            </dict>
            <key>bullet_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1103},{56,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,123}}</string>
                <key>sourceSize</key>
                <string>{56,123}</string>
            </dict>
            <key>bullet_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,563},{56,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,123}}</string>
                <key>sourceSize</key>
                <string>{56,123}</string>
            </dict>
            <key>bullet_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1564},{200,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,202}}</string>
                <key>sourceSize</key>
                <string>{200,202}</string>
            </dict>
            <key>bullet_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1685},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>bullet_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1162},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>bullet_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,592}}</string>
                <key>sourceSize</key>
                <string>{69,592}</string>
            </dict>
            <key>bullet_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,132},{386,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,208}}</string>
                <key>sourceSize</key>
                <string>{386,208}</string>
            </dict>
            <key>bullet_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,963},{130,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,107}}</string>
                <key>sourceSize</key>
                <string>{130,107}</string>
            </dict>
            <key>bullet_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,831},{130,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,107}}</string>
                <key>sourceSize</key>
                <string>{130,107}</string>
            </dict>
            <key>bullet_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,699},{130,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,107}}</string>
                <key>sourceSize</key>
                <string>{130,107}</string>
            </dict>
            <key>bullet_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1596},{17,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,87}}</string>
                <key>sourceSize</key>
                <string>{17,87}</string>
            </dict>
            <key>bullet_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1283},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>bullet_079.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1344},{22,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,126}}</string>
                <key>sourceSize</key>
                <string>{22,126}</string>
            </dict>
            <key>bullet_080.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1245},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>bullet_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1380},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>bullet_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1349},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullets.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3809dc041f7ada2327208c599aa1bab1$</string>
            <key>textureFileName</key>
            <string>bullets.png</string>
        </dict>
    </dict>
</plist>
