<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>finger_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,144}</string>
            </dict>
            <key>finger_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,144}</string>
            </dict>
            <key>finger_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,144}</string>
            </dict>
            <key>finger_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>finger_down.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00dc63de0f7f98a53df7d05a016645f2$</string>
            <key>textureFileName</key>
            <string>finger_down.png</string>
        </dict>
    </dict>
</plist>
