<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base02_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,124},{676,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,34}}</string>
                <key>sourceSize</key>
                <string>{676,34}</string>
            </dict>
            <key>base02_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{659,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,31}}</string>
                <key>sourceSize</key>
                <string>{659,31}</string>
            </dict>
            <key>base02_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,120}}</string>
                <key>sourceSize</key>
                <string>{720,120}</string>
            </dict>
            <key>base02_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{676,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,28}}</string>
                <key>sourceSize</key>
                <string>{676,28}</string>
            </dict>
            <key>base02_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{178,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,156}}</string>
                <key>sourceSize</key>
                <string>{178,156}</string>
            </dict>
            <key>base02_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,441},{565,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,32}}</string>
                <key>sourceSize</key>
                <string>{565,32}</string>
            </dict>
            <key>base02_frame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,953},{524,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,46}}</string>
                <key>sourceSize</key>
                <string>{524,46}</string>
            </dict>
            <key>base02_frame_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,897},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>base02_frame_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{678,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,4}}</string>
                <key>sourceSize</key>
                <string>{678,4}</string>
            </dict>
            <key>base02_frame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,441},{175,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,4}}</string>
                <key>sourceSize</key>
                <string>{175,4}</string>
            </dict>
            <key>base02_frame_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,802},{628,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,93}}</string>
                <key>sourceSize</key>
                <string>{628,93}</string>
            </dict>
            <key>base02_frame_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{592,251}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,251}}</string>
                <key>sourceSize</key>
                <string>{592,253}</string>
            </dict>
            <key>base02_frame_s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{592,251}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,251}}</string>
                <key>sourceSize</key>
                <string>{592,253}</string>
            </dict>
            <key>base_02_blood_bar_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,897},{679,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,28}}</string>
                <key>sourceSize</key>
                <string>{679,28}</string>
            </dict>
            <key>base_02_blood_bar_fg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{664,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,15}}</string>
                <key>sourceSize</key>
                <string>{664,15}</string>
            </dict>
            <key>base_02_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{437,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,45}}</string>
                <key>sourceSize</key>
                <string>{437,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uibase2frame.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133d1f7ac9b571a0d61a974af24c0065$</string>
            <key>textureFileName</key>
            <string>uibase2frame.png</string>
        </dict>
    </dict>
</plist>
