<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>model_bossplane_0001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{213,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,251}}</string>
                <key>sourceSize</key>
                <string>{213,251}</string>
            </dict>
            <key>model_bossplane_0001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,453}}</string>
                <key>sourceSize</key>
                <string>{448,453}</string>
            </dict>
            <key>model_bossplane_0001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,637},{56,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,124}}</string>
                <key>sourceSize</key>
                <string>{56,124}</string>
            </dict>
            <key>model_bossplane_0001_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,637},{179,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,129}}</string>
                <key>sourceSize</key>
                <string>{179,129}</string>
            </dict>
            <key>model_bossplane_0001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{127,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,84}}</string>
                <key>sourceSize</key>
                <string>{127,84}</string>
            </dict>
            <key>model_bossplane_0001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,545},{90,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,198}}</string>
                <key>sourceSize</key>
                <string>{90,198}</string>
            </dict>
            <key>model_bossplane_0001_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,667},{117,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,99}}</string>
                <key>sourceSize</key>
                <string>{117,99}</string>
            </dict>
            <key>model_bossplane_0001_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,452},{91,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,227}}</string>
                <key>sourceSize</key>
                <string>{91,227}</string>
            </dict>
            <key>model_bossplane_0001_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>model_bossplane_0001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,66},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossplane.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb592a4c5d096c747f1d313622baba53$</string>
            <key>textureFileName</key>
            <string>bossplane.png</string>
        </dict>
    </dict>
</plist>
