<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_map_0003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane_map_0003.jpg</string>
            <key>size</key>
            <string>{720,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fed5f6cfdff2d89a477ec5d46de5fe2$</string>
            <key>textureFileName</key>
            <string>plane_map_0003.jpg</string>
        </dict>
    </dict>
</plist>
